@import '../../responsive/mixin';

.areyousure {

    .modal-content {
        margin: 10px;

        .modal-footer {
            padding: 0;
    
            button {
                margin: 0;
                border-radius: 0;
                // width: 100%;
            }
        }
    }

    .form-check-input {
        position: relative;
        margin-left: 0;
    }

    .form-check-label {
        padding: 30px 10px;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: 8px;
    }

    .text-font {
        font-size: 25px;

        @include respond(tab-port) {
            font-size: 15px;
        }
    }
}