.overall {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(237,238,243), 0px 0px 10px rgb(237,238,243);
    border-radius: 5px;
    overflow: hidden;

    .sidebox {
        width: 5px;
    }

    .price_stock {
        span {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .title {
        span {
            font-size: 18px;
            font-weight: 700;
        }
    }
}