// Color
$color1: #000;
$color2: #fff;
$color3: #522ebd;
$color4: #1a1955;
$color5: rgb(26, 25, 85);
$color6: rgb(8, 9, 16);

//Font Color
$fontcolor: white;

:export {
    color1: $color1;
    color2: $color2;
    color3: $color3;
    color4: $color4;
    color5: $color5;
    color6: $color6;
}