@import './responsive/mixin';

.App {
	width: 100%;
	
	.wrapper_app{
		display: flex;
		text-decoration: none;
		transition: all 0.3s;

		#sidebar {
			min-width: 250px;
			max-width: 250px;
			background-color: #7386D5;
			color: white;
			height: 100vh;
			transition: all 0.3s;
		}

		// .active {
		// 	position: absolute;
		// 	margin-left: -250px;
		// }

		#content {
			width: 100%;
			// padding: 20px;
			min-height: 100vh;
			transition: all 0.3s;
			display: flex;
			flex-direction: column;
			background-color: rgb(248, 249, 253);
			
			#sidebarCollapse {
				display: none;
			}
			
			.navbar {
				padding: 0;
			}
			
			.main_display {
				// flex: 1;
				overflow-y: scroll;

				.load {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					// background-color: grey;
				}
			}
		}

		@include respond(tab-port) {
			#sidebar {
				position: absolute;
				z-index: 5;
				margin-left: -250px;
			}
			#sidebar.activeing {
				margin-left: 0;
			}
			#sidebarCollapse span {
				display: none;
			}
			
			#content #sidebarCollapse {
				display:inherit;
			}
		}
	}

	/* width */
	::-webkit-scrollbar {
		width: 10px;

		@include respond(tab-port) {
			display: none;
		}
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 20px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}


	// min-height: 100vh;
	// display: flex;
	// position: relative;
	// flex-direction: column;
	
	// .load {
	// 	width: 100%;
	// 	height: 100vh;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	// background-color: grey;
	// }

	// .sidebar_col {
	// 	width: 250px;
	// 	height: 100vh;
	// 	padding: 0;

	// 	@include respond(tab-port) {
	// 		display: none;
	// 	}
	// }

	// .navigation_col {
	// 	padding: 0;
	// }
}